html,
body {
  background-color: #3b82f6 !important;
}

.hidden {
  display: none;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
}

.header {
  text-align: center;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
}
header img {
  width: 200px;
  height: auto;
}
.content-divider {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.product-showcase {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-showcase .product-card {
  width: 45%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.product-showcase .product-card img {
  width: 100%;
  height: auto;
}

.user-registration-form {
  margin-bottom: 20px;
}

.user-registration-form .form-field {
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-row label {
  flex-basis: 25%;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 34px;
}

.form-row input,
.form-row select {
  flex-basis: 45%;
  padding: 0 0.5rem;
  height: 34px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  vertical-align: middle;
}

.navigation {
  text-align: right;
}

.content-transition {
  display: none;
}

.backend-interaction {
  display: none;
}
